/* sass skjal sem sér um stílin á quote*/
.quote {
  &__q {
    padding: 1.75em;
    font-size: 1.5em;
    color: blue;
  }
  /*style sem ýtir Albert Einstein aðeins til hægri */

  &__p {
    margin-left: 13px;
    background-color: green;
  }
}
