
$gutter: 20px;

@charset "UTF-8";

*, *:after, *:before {
  /* stylelint-disable-line */
  box-sizing: inherit;
  /* fjarlægjum margin og padding */
  padding: 0;
  margin: 0;
}

html {
  /* stylelint-disable-line */
  box-sizing: border-box;
  margin-right: 20px;
  margin-left: 20px;
}
  @media (min-width: 1200px) {
    html {
      margin: 0; }
    }

body {
  max-width: 75em;
  margin: 0 auto;
  overflow-x: hidden;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  overflow-x: hidden; }

header {
  width: 100%;
  background-size: cover;
  background-position: 50% 50%;
  padding-top: 5em;
  margin-bottom: 2em;
  min-height: 15em;
}

img {
  max-width: 100%; }

.quote {
  padding: 1.75em;
  font-size: 1.5em;
}

.quote p {
  margin-left: 13px;
}

/* INDEX CODE - Guðlaugur Kjartan Þorgeirsson */
/* CSS WITH CLASS */
.bg-img {
  /* Index Header Control */
  background-image: url("bg.jpg");
  /* Image Control */
  max-width: 75em;
  width: 105%;
  height: 100vh;
  /* Image Location */
  position: sticky;
  top: 0;
}
.bg-sub-img {
  background-image: url("bg-subpage.jpg");
}
.myndtext{
  padding-left:10px;
}

@import "scss/grid";
@import "scss/heading";
@import "scss/text";
@import "scss/NavigationBar";
@import "scss/button";
@import "scss/info";
@import "scss/footer";
