@charset "UTF-8";
/* setjum box-sizing: border-box; á allt */
/* CSS WITHOUT CLASS - EFFECTS ALL HTML FILES */
html {
  /* stylelint-disable-line */
  box-sizing: border-box;
  margin-right: 20px;
  margin-left: 20px; }
  @media (min-width: 1200px) {
    html {
      margin: 0; } }

*, *
:after,
*:before {
  box-sizing: inherit;
  padding: 0;
  margin: 0; }

body {
  max-width: 75em;
  margin: 0 auto;
  overflow-x: hidden; }

header {
  width: 100%;
  background-size: cover;
  background-position: 50% 50%;
  margin-bottom: 2em;
  min-height: 22em;
  color: white; }

main {
  /* stylelint-disable-line */
  max-width: 75em;
  margin: 0 auto;
  overflow-x: hidden; }

img {
  /* stylelint-disable-line */
  max-width: 100%; }

h3 {
  padding-top: 3em; }

/* CSS WITH CLASS */
/* QUOTE */
/*sér um myndina og textann sem er á myndinni*/
/* style fyrir quote í about */
.quote {
  padding: 1.2em;
  font-size: 1.5em; }

/*style sem ýtir Quote í Aboute aðeins til hægri */
.quote p {
  margin-left: 13px; }

/* ABOUT HEADER IMAGE */
.bg-sub-img {
  background-image: url("bg-subpage.jpg"); }

.myndtext {
  padding-left: 10px; }

/* EMERGENCY PADDING */
.pad {
  padding-top: 1em;
  padding-bottom: 1em; }

.pad2 {
  padding-top: 1em; }

.pad-left-header {
  padding-left: 0.5em; }

.more-to-left {
  padding-left: 0.5em; }

/* QUOTE LOCATION */
.flex-quote {
  display: flex;
  flex-wrap: nowrap; }
  @media (max-width: 400px) {
    .flex-quote {
      flex-wrap: wrap; } }

/* IMPORTS */
/* Þetta skjal skilgreinir hvað dálkur er stór og hvað t.d. dálkar merkja */
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-bottom: 20px;
  margin-left: -10px; }

.col {
  padding-right: 20px / 2;
  padding-left: 20px / 2; }
  .col-12 {
    width: 100%; }
  .col-8 {
    width: 66.66667%; }
  .col-6 {
    width: 50%; }
  .col-4 {
    width: 33.33333%; }
  @media (max-width: 600px) {
    .col-sm-12 {
      width: 100%;
      width: 100%; }
    .col-sm-6 {
      width: 50%;
      width: 100%; } }

/* Þetta sass skjal sér um að stíla fyrirsagnirnar og er með Roboto Slab í font-family */
.heading {
  width: 100%;
  border: none;
  font-family: 'Roboto Slab';
  font-size: 2rem; }
  .heading--one {
    padding-left: 0.5em;
    font-size: 3rem; }
  .heading--two {
    padding-left: 0.5em;
    font-size: 2rem; }
  .heading--three {
    font-size: 1.5rem; }

/* þetta sass skjal sér um að stíla meginmálið og meginmálið er skráð á font-family Open Sans */
.text__fyrirsogn {
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 1em; }

.text__p {
  padding-left: 1em;
  margin-bottom: 20px;
  margin-left: 2px;
  font-family: "Open Sans"; }

.text__head {
  margin-left: 20px; }

.Navi {
  position: fixed;
  z-index: 1;
  display: flex;
  width: 100%;
  max-width: 75em;
  padding-right: 2em;
  padding-left: 2em;
  font-family: "Open Sans";
  color: #fff;
  background-color: #000;
  background-size: cover;
  opacity: 0.9;
  justify-content: space-between; }
  .Navi__Title {
    padding: 5px;
    font-family: "Roboto Slab";
    font-size: 1.5em; }
  .Navi__buttons {
    display: flex;
    justify-content: space-between;
    padding-left: 2em;
    padding-right: 2em;
    font-family: 'Open Sans'; }
    .Navi__buttons__Title {
      padding: 5px;
      font-size: 1.5em;
      font-family: 'Roboto Slab'; }
    .Navi__buttons .Navi__buttons__kaupa {
      padding-right: 15px; }
    .Navi__buttons .Navi__buttons__um {
      padding-right: 15px;
      background-color: #000;
      border: 0; }
      .Navi__buttons .Navi__buttons__um:hover {
        background-color: #000; }
    @media (max-width: 399px) {
      .Navi__buttons .Navi__buttons__kaupa__sm {
        display: none; } }

.button {
  /* Width */
  width: 100%;
  max-width: 256px;
  /* Design Control */
  background-color: grey;
  margin: 0;
  padding: 10px 5px;
  display: inline-block;
  color: white;
  /* Border */
  border: none;
  border-radius: 4px;
  /* Text Control */
  text-decoration: none;
  text-align: center;
  color: white;
  font-size: 1rem;
  overflow: hidden;
  transition: 1s ease;
  font-family: 'Open Sans'; }
  .button:hover {
    color: #eee;
    cursor: pointer;
    background-color: #333;
    transition: 1s ease; }

.kaup {
  display: flex;
  flex-flow: row;
  font-family: "Open Sans"; }
  @media (max-width: 400px) {
    .kaup {
      flex-flow: column; } }

.listi {
  list-style-type: none; }

.moreinfo {
  width: 100%;
  border: 0;
  margin: 0 auto auto; }

label {
  display: flex;
  flex-direction: column; }

.spec {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 0 3%; }
  .spec input {
    width: 8%; }

.data {
  width: 30%; }

.data:nth-child(3) {
  margin-left: 9%; }

input {
  width: 100%;
  padding: 1%; }

select {
  width: 100%;
  padding: 1%; }

li {
  margin-bottom: 4%;
  margin-top: 4%; }

.mybutt {
  display: flex;
  margin: auto;
  justify-content: center;
  max-width: 18em;
  margin-top: 1.5em; }

.mybutt:hover {
  background-color: #333; }

/* Þetta skjal skilgreinir hvað dálkur er stór og hvað t.d. dálkar merkja */
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-bottom: 20px;
  margin-left: -10px; }

.col {
  padding-right: 20px / 2;
  padding-left: 20px / 2; }
  .col-12 {
    width: 100%; }
  .col-8 {
    width: 66.66667%; }
  .col-6 {
    width: 50%; }
  .col-4 {
    width: 33.33333%; }
  @media (max-width: 600px) {
    .col-sm-12 {
      width: 100%;
      width: 100%; }
    .col-sm-6 {
      width: 50%;
      width: 100%; } }

.footer {
  background-color: #333;
  color: white;
  padding-top: 2em;
  padding-bottom: 1em;
  margin-top: 5em;
  font-family: 'Open Sans';
  display: flex;
  flex-flow: column; }
  .footer .upperfoot {
    text-align: center;
    display: flex;
    flex-flow: row;
    width: 50%;
    margin: auto;
    padding-bottom: 2em; }
    .footer .upperfoot .up {
      margin: auto;
      margin-top: 0; }
  .footer .lowerfoot {
    display: flex;
    margin-left: 3em;
    margin-right: 3em;
    padding-top: 1em;
    border-top: 2px solid grey; }
    .footer .lowerfoot .down {
      margin: auto;
      color: grey; }
  @media (max-width: 400px) {
    .footer .upperfoot {
      width: 100%; } }
  @media (max-width: 600px) {
    .footer .upperfoot {
      width: 75%; } }

p {
  font-family: 'Open Sans'; }

h1, h2, h3 {
  font-family: 'Roboto Slab'; }

/* Index Header Image */
.bg-img {
  /* Index Header Control */
  background-image: url("bg.jpg");
  background-attachment: fixed;
  /* Image Control */
  max-width: 75em;
  width: 100%;
  height: 100vh; }

@keyframes fader {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.ind {
  display: flex;
  flex-flow: column;
  margin: auto;
  text-align: center;
  padding-top: 33%; }
  .ind .heading {
    padding: 0.1em;
    color: black; }
  .ind .mainbutt {
    background-color: #808080;
    color: white;
    font-size: 1.5em;
    margin-top: 1em;
    margin: auto;
    margin-top: 1.7em;
    max-width: 5em; }
  .ind .heading--two {
    opacity: 0;
    animation: 2s ease 1s 1 forwards fader; }
  .ind .heading--two {
    opacity: 0;
    animation: 2s ease 2s 1 forwards fader; }

.mid {
  display: flex;
  flex-flow: row wrap;
  word-wrap: break-word; }
  .mid .checkimg {
    width: 5%;
    float: left; }
  .mid .midlist {
    padding-top: 10%;
    list-style: none; }
  .mid .disimg {
    height: 100%; }
  .mid p {
    padding-left: 5%; }

.wannabe {
  display: flex;
  flex-flow: row;
  margin-top: 10%; }
  .wannabe .celeb {
    width: 33%;
    text-align: center; }
  .wannabe .profile {
    border-radius: 50%;
    width: 75%;
    padding-bottom: 6%; }
  .wannabe .bigname {
    font-weight: bold;
    font-size: 1.1em; }
  .wannabe h2 {
    font-style: italic;
    padding-bottom: 1em; }
  @media (max-width: 400px) {
    .wannabe {
      flex-flow: column; }
      .wannabe .celeb {
        width: 100%; } }
  @media (max-width: 600px) {
    .wannabe {
      flex-flow: row wrap;
      width: 50%; } }

.lastbutt {
  margin-top: 10%;
  text-align: center; }
  .lastbutt .mybutt {
    max-width: 15%;
    font-size: 1.5em;
    margin-top: 0.7em; }
