.button {
  /* Width */
  width: 100%;
  max-width: 256px;
  /* Border */
  border: none;
  border-radius: 4px;
  /* Design Control */
  background-color: #808080;
  margin: 0;
  padding: 10px 5px;
  display: inline-block;
  color: white;
  /* Text Control */
  text-decoration: none;
  text-align: center;
  transition: ease 1s;
  cursor: pointer;

  &:hover {
    transition: ease 1s;
    color: #eee;
    background-color: black;
  }
}

/* BUTTON IN INDEX */
.kaupa {
  /* Color Control */
  background-color: #808080;
  color: white;
  /* Text Design */
  font-size: 1.5em;
  /* Button Design */
  padding: 0.5em;
  text-decoration: none;
  border: none;
  border-radius: 0.1em;
  /* Button Location */
  position: absolute;
  top: 63%;
  left: 45.9%;

  &-bar {
    display: flex;
  }
  &:hover {
    /* Cursor Change */
  cursor: pointer;
  /* Color Change */
  background-color: #A9A9A9;
  }
}
