.button {
  /* Width */
  width: 100%;
  max-width: 256px;

  /* Design Control */
  background-color: grey;
  margin: 0;
  padding: 10px 5px;
  display: inline-block;
  color: white;

  /* Border */
  border: none;
  border-radius: 4px;

  /* Text Control */
  text-decoration: none;
  text-align: center;
  color: white;
  font-size: 1rem;
  overflow: hidden;
  transition: 1s ease;
  font-family: 'Open Sans';

  &:hover {
    color: #eee;
    cursor: pointer;
    background-color: #333;
    transition: 1s ease;
  }
}
