.footer {
  background-color: $color-darkgrey;
  color: $color-white;
  display: flex;
  flex-flow: column;
  font-family: 'Open Sans';
  margin-top: 5em;
  padding-bottom: 1em;
  padding-top: 2em;

  .upperfoot {
    display: flex;
    flex-flow: row;
    margin: auto;
    padding-bottom: 2em;
    text-align: center;
    width: 50%;

    .up {
      margin: 0 auto auto;
    }
  }

  .lowerfoot {
    border-top: 2px solid $color-grey;
    display: flex;
    margin-left: 3em;
    margin-right: 3em;
    padding-top: 1em;

    .down {
      color: $color-grey;
      margin: auto;
    }
  }

  @media (max-width: 400px) {
    .upperfoot {
      width: 100%;
    }
  }

  @media (max-width: 600px) {
    .upperfoot {
      width: 75%;
    }
  }
}
