.heading {
  border: 0;
  font-family: 'Roboto Slab';
  font-size: 2rem;
  width: 100%;

  &--one {
    font-size: 3rem;
    padding-left: .5em;
  }

  &--two {
    font-size: 2rem;
    padding-left: .5em;
  }

  &--three {
    font-size: 1.5rem;
  }
}
