/* Þetta sass skjal sér um að stíla fyrirsagnirnar og er með Roboto Slab í font-family */
.heading {

  width: 100%;
  border: none;

  font-family: 'Roboto Slab';
  font-size: 2rem;

  &--one {
    padding-left: 0.5em;
    font-size: 3rem;
  }

  &--two {
    padding-left: 0.5em;
    font-size: 2rem;
  }

  &--three {
    font-size: 1.5rem;
  }
}
