/* Þetta sass skjal sér um að stíla fyrirsagnirnar og er með Roboto Slab í font-family */
.heading {

  width: 100%;
  padding: 0;
  border: none;

  font-family: 'Roboto Slab';
  font-size: 2rem;

  &--one {
    font-size: 3rem;
    padding-left: 1%;
    color: white;
  }

  &--two {
    font-size: 2rem;
  }

  &--three {
    font-size: 1.5rem;
  }

  /* HEADING STYLE FOR INDEX */
  &-index {
    /* Color */
    color: #000000;

    &-one {
      font-size: 2em;
      /* Text Location */
      text-align: center;
      position: absolute;
      top: 40%;
      /* Color */
      color: #000000;
    }

    &-two {
      font-size: 3em;
      /* Text Location */
      text-align: center;
      position: absolute;
      top: 48%;
      /* Color */
      color: #000000;
    }
  }
}
