.kaup {
  display: flex;
  flex-flow: row;
  font-family: 'Open Sans';
  @media (max-width: 400px) {
    flex-flow: column;
  }
}

.listi {
  list-style-type: none;
}

.moreinfo {
  border: 0;
  width: 100%;
  margin: 0 auto auto;
}

label {
  display: flex;
  flex-direction: column;
}

.spec {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 0 3%;

  & input {
    width: 8%;
  }
}

.data {
  width: 30%;
}

.data:nth-child(3) {
  margin-left: 9%;
}

input {
  width: 100%;
  padding: 1%;
}

select {
  width: 100%;
  padding: 1%;
}

li {
  margin-bottom: 4%;
  margin-top: 4%;
}

.mybutt {
  display: flex;
  margin: auto;
  justify-content: center;
}

.mybutt:hover {
  background-color: #333;
}
@import "scss/grid";
