.kaup {
  display: flex;
  flex-flow: row;

  @media (max-width: 400px) {
    flex-flow: column;
  }
}

.listi {
  list-style-type: none;
}

.moreinfo {
  border: 0;
  margin: 0 auto auto;
  width: 100%;
}

label {
  display: flex;
  flex-direction: column;
}

.spec {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin: 0 0 3%;

  input {
    width: 8%;
  }
}

.data {
  width: 30%;
}

.data:nth-child(3) {
  margin-left: 9%;
}

input {
  padding: 1%;
  width: 100%;
}

select {
  padding: 1%;
  width: 100%;
}

li {
  margin-bottom: 4%;
  margin-top: 4%;
}

.mybutt {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 1.5em;
  max-width: 18em;
}

.mybutt:hover {
  background-color: $color-darkgrey;
}

@import 'scss/grid';
