// Index Header Image
.bg-img {
  // Index Header Control
  background-attachment: fixed;
  background-image: url('bg.jpg');
  // Image Control
  height: 100vh;
  max-width: 75em;
  width: 100%;
}

@keyframes visible {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.ind {
  display: flex;
  flex-flow: column;
  margin: auto;
  padding-top: 20%;
  text-align: center;

  .heading {
    color: $color-black;
    padding: .1em;
  }

  .heading--two {
    animation: 2s ease 1s 1 forwards visible;
    opacity: 0;
  }

  .heading--one {
    animation: 2s ease 2s 1 forwards visible;
    opacity: 0;
  }

  .mainbutt {
    background-color: $color-grey;
    color: $color-white;
    font-size: 1.5em;
    margin: 1.7em auto auto;
    max-width: 5em;

    &:hover {
      background-color: $color-darkgrey;
    }
  }

  a {
    animation: 2s ease 3s 1 forwards visible;
    opacity: 0;
  }
}

.mid {
  display: flex;
  flex-flow: row wrap;
  word-wrap: break-word;

  .checkimg {
    float: left;
    width: 5%;
  }

  .midlist {
    list-style: none;
    padding-right: 5%;
    padding-top: 10%;
  }

  .disimg {
    height: 100%;
  }

  p {
    padding-left: 5%;
  }
}

.wannabe {
  display: flex;
  flex-flow: row;
  margin-top: 10%;

  .celeb {
    align-items: center;
    display: flex;
    flex-flow: column;
    text-align: center;
    width: 33%;
  }

  .profile {
    border-radius: 50%;
    padding-bottom: 6%;
    width: 75%;
  }

  .celebtext {
    display: flex;
    flex-flow: column;
  }

  .bigname {
    font-size: 1.1em;
    font-weight: bold;
  }

  h2 {
    display: flex;
    flex-direction: column;
    font-style: italic;
    height: 3em;
    justify-content: center;
    padding-bottom: .5em;
    text-align: center;
  }

  @media (max-width: 400px) {
    flex-flow: column nowrap;

    .celeb {
      width: 100%;
    }
  }

  @media (max-width: 600px) {
    flex-flow: row wrap;

    .celeb {
      margin: auto;
      padding: 1em;
      width: 50%;
    }

    .bigname {
      font-size: .5em;
    }
  }
}

.lastbutt {
  margin-top: 10%;
  text-align: center;

  .mybutt {
    font-size: 1.5em;
    margin-top: .7em;
    max-width: 15%;
  }
}
