.navi {
  background-color: $color-black;
  background-size: cover;
  color: $color-white;
  display: flex;
  font-family: 'Open Sans';
  justify-content: space-between;
  max-width: 75em;
  opacity: .9;
  padding-left: 2em;
  padding-right: 2em;
  position: fixed;
  width: 100%;
  z-index: 1;

  &__title {
    font-family: 'Roboto Slab';
    font-size: 1.5em;
    padding: 5px;
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    padding-left: 2em;
    padding-right: 2em;
  }

  .kaupabutt {
    padding-right: 1em;
  }

  .umbutt {
    background-color: $color-black;
    border: 0;
    padding-right: 15px;

    &:hover {
      background-color: $color-black;
    }
  }
}
