.Navi {
    /* Design Control */
    max-width: 1200px;
    width: 100%;
    background-color: black;
    color: #FFFFFF;
    opacity: 0.9;
    /* Location Control */
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
    padding-left: 2em;
    padding-right: 2em;
    font-family: 'Open Sans';

    &__Title {
        padding: 5px;
        font-size: 1.5em;
        font-family: 'Roboto Slab', serif;
    }

    &__buttons {
        padding: 5px;
        display: flex;
        color: white;

        .Navi__buttons__kaupa {
            width: 100%;
            font-size: 1em;
            overflow: initial;
        }

        .Navi__buttons__um {
            padding-right: 15px;
            background-color: black;
            border: 0;
        }
        @media (max-width: 399px) {
            .Navi__buttons__kaupa__sm {
                display: none;
            }
        }
        @media (max-width: 399px) {
            .Navi__buttons__kaupa__sm {
                display: none;
            }
        }
    }
}
