p {
  font-family: 'Open Sans';
}

.text {
  font-family: 'Open Sans';

  &__fyrirsogn {

    padding-bottom: 1em;
    padding-left: 1em;
    padding-top: 1em;
  }

  &__p {
    margin-bottom: 20px;
    margin-left: 2px;
    padding-left: 1em;
  }
}
