/* þetta sass skjal sér um að stíla meginmálið og meginmálið er skráð á font-family Open Sans */
.text {
  &__fyrirsogn{
    padding-left: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
  }

  &__p {
    font-family: 'Open Sans';
    margin-bottom: 20px;
    margin-left: 2px;
    padding-left: 1em;
  }

  &__head{
    margin-left: 20px;
  }
}
